@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', 'sans-serif';
    color: #fff;
}

/* background animation start */
.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #fa02d59d;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* background animation end */

/* nav bar section start */
nav {
    background-image: linear-gradient(to right, #FF9F4A, #FF3C83);
    display: flex;
    justify-content: space-between;
    height: 80px;
}

nav img {
    width: 50px;
    margin-left: 10px;
}

.bars-icon {
    display: none;
}

.nav-left {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.nav-left p {
    font-size: 24px;
    font-weight: 700;
}

.nav-right {
    margin: auto 20px;
}

.nav-right ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-right ul li {
    padding: 10px;
}

.nav-right a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.login-btn {
    background-color: #DB0B5F;
    border-radius: 8px;
}

/* nav bar section end */

/* hero section start */
.hero-section {
    background-image: linear-gradient(to right, #FF9F4A, #FF3C83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-section-left {
    margin-left: 40px;
}

.hero-section-title {
    font-size: 100px;
    font-weight: 700;
    color: #fff;
}

.hero-section-desc {
    font-size: 30px;
    margin: 20px 0px;
}

.hero-CtoA-btn {
    background-color: #DB0B5F;
    width: 120px;
    padding: 10px;
    border-radius: 8px;
}

.hero-CtoA-btn:hover {
    box-shadow: 0px 0px 10px 2px #DB0B5F;
}

.hero-CtoA-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
/* hero section end */

/* highlight section start */
.hightlight-section {
    background-image: linear-gradient(to right, #662A9A, #D19DFC);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.highlight-head {
    font-size: 30px;
    font-weight: 600;
}

.hightlight-desc {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    width: 700px;
}
/* highlight section end */

/* instructor section start */
.instructor-title{
    background-image: linear-gradient(to left, #D19DFC, #662A9A);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
}

.instructors-section {
    background-image: linear-gradient(to left, #D19DFC, #662A9A);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 10px;
    flex-wrap: wrap;
}

.instructor-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 5px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: #000;
    margin: 20px 0px;
}

.instructor-photo img{
    width: 250px;
}

.instructor-name {
    font-size: 30px;
    font-weight: 600;
}

.instructor-designation {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

.youtube-link {
    background-color: #DB0B5F;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.youtube-link a {
    text-decoration: none;
    color: #fff;
}
/* instructor section end */

/* .communities section start */
.community-section-title{
    background-image: linear-gradient(to right, #FF9F4A, #FF3C83);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 50px;
}

.communities-section {
    background-image: linear-gradient(to right, #FF9F4A, #FF3C83);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 10px;
}

.community-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 5px #000;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 50px;
    padding: 10px;
}

.community-img img {
    width: 250px;
    border-radius: 10px;
}

.community-title {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

.community-desc {
    margin: 10px;
    text-align: center;
}

.community-CtoA:hover {
    box-shadow: 0px 0px 10px 2px #DB0B5F;
}
/* communities section end */

/* testimonial section start */
.testimonial-section-title {
    background-image: linear-gradient(to left, #D19DFC, #662A9A);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 50px;
}

.testimonal-section {
    background-image: linear-gradient(to left, #D19DFC, #662A9A);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 10px;
    flex-wrap: wrap;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 5px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 300px;
    height: 500px;
    margin-top: 50px;
    padding: 10px;
}

.candidate-img img {
    width: 250px;
    border-radius: 50%;
}

.candidate-name {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

.candidate-designation {
    font-weight: 600;
    margin: 10px;
}

.candidate-testimonial {
    text-align: center;
}
/* testimonial section end */

/* FAQ's section start */
.faqs-section-title {
    background-image: linear-gradient(to right, #FF9F4A, #FF3C83);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 50px;
}

.faqs-section {
    background-image: linear-gradient(to right, #FF9F4A, #FF3C83);
    display: flex;
    padding: 50px 30px;
    flex-direction: column;
}

.qanda {
    box-shadow: 0px 0px 20px 5px #000;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.question {
    font-size: 20px;
    font-weight: 600;
}

.answer {
    font-size: 18px;
    font-weight: 400;
}
/* FAQ's section end */


@media only screen and (max-width: 2100px) {
    .hero-section-title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .nav-right ul {
        display: none;
    }

    .bars-icon {
        display: block;
        width: 30px;
    }

    .hero-section img {
        width: 500px;
    }

    .hightlight-desc {
        width: 350px;
    }
}